{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://genomics.googleapis.com/"
        }
    ],
    "info": {
        "contact": {
            "name": "Google",
            "url": "https://google.com"
        },
        "description": "Uploads, processes, queries, and searches Genomics data in the cloud.",
        "title": "Genomics",
        "version": "v1",
        "x-apiClientRegistration": {
            "url": "https://console.developers.google.com"
        },
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"
        },
        "x-origin": [
            {
                "converter": {
                    "url": "https://github.com/lucybot/api-spec-converter",
                    "version": "2.7.31"
                },
                "format": "google",
                "url": "https://genomics.googleapis.com/$discovery/rest?version=v1",
                "version": "v1"
            }
        ],
        "x-preferred": true,
        "x-providerName": "googleapis.com",
        "x-serviceName": "genomics"
    },
    "externalDocs": {
        "url": "https://cloud.google.com/genomics"
    },
    "tags": [
        {
            "name": "operations"
        }
    ],
    "paths": {
        "/v1/{name}": {
            "get": {
                "description": "Gets the latest state of a long-running operation.\nClients can use this method to poll the operation result at intervals as\nrecommended by the API service.\nAuthorization requires the following [Google IAM](https://cloud.google.com/iam) permission&#58;\n\n* `genomics.operations.get`",
                "operationId": "genomics.operations.get",
                "parameters": [
                    {
                        "description": "The name of the operation resource.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
                                    "properties": {
                                        "done": {
                                            "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
                                            "type": "boolean"
                                        },
                                        "error": {
                                            "description": "The error result of the operation in case of failure or cancellation.",
                                            "properties": {
                                                "code": {
                                                    "description": "The status code, which should be an enum value of google.rpc.Code.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
                                                    "items": {
                                                        "additionalProperties": {
                                                            "description": "Properties of the object. Contains field @type with type URL."
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "message": {
                                                    "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "metadata": {
                                            "additionalProperties": {
                                                "description": "Properties of the object. Contains field @type with type URL."
                                            },
                                            "description": "An OperationMetadata or Metadata object. This will always be returned with the Operation.",
                                            "type": "object"
                                        },
                                        "name": {
                                            "description": "The server-assigned name, which is only unique within the same service that originally returns it. For example&#58; `operations/CJHU7Oi_ChDrveSpBRjfuL-qzoWAgEw`",
                                            "type": "string"
                                        },
                                        "response": {
                                            "additionalProperties": {
                                                "description": "Properties of the object. Contains field @type with type URL."
                                            },
                                            "description": "If importing ReadGroupSets, an ImportReadGroupSetsResponse is returned. If importing Variants, an ImportVariantsResponse is returned. For pipelines and exports, an Empty response is returned.",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/genomics"
                        ]
                    }
                ],
                "tags": [
                    "operations"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/v1/{name}:cancel": {
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Starts asynchronous cancellation on a long-running operation.\nThe server makes a best effort to cancel the operation, but success is not\nguaranteed. Clients may use Operations.GetOperation\nor Operations.ListOperations\nto check whether the cancellation succeeded or the operation completed\ndespite cancellation.\nAuthorization requires the following [Google IAM](https://cloud.google.com/iam) permission&#58;\n\n* `genomics.operations.cancel`",
                "operationId": "genomics.operations.cancel",
                "parameters": [
                    {
                        "description": "The name of the operation resource to be cancelled.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    },
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/genomics"
                        ]
                    }
                ],
                "tags": [
                    "operations"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The request message for Operations.CancelOperation.",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "CancelOperationRequest": {
                "description": "The request message for Operations.CancelOperation.",
                "properties": {},
                "type": "object"
            },
            "ComputeEngine": {
                "description": "Describes a Compute Engine resource that is being managed by a running\npipeline.",
                "properties": {
                    "diskNames": {
                        "description": "The names of the disks that were created for this pipeline.",
                        "items": {
                            "type": "string"
                        },
                        "type": "array"
                    },
                    "instanceName": {
                        "description": "The instance on which the operation is running.",
                        "type": "string"
                    },
                    "machineType": {
                        "description": "The machine type of the instance.",
                        "type": "string"
                    },
                    "zone": {
                        "description": "The availability zone in which the instance resides.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ContainerKilledEvent": {
                "description": "An event generated when a container is forcibly terminated by the\nworker. Currently, this only occurs when the container outlives the\ntimeout specified by the user.",
                "properties": {
                    "actionId": {
                        "description": "The numeric ID of the action that started the container.",
                        "format": "int32",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "ContainerStartedEvent": {
                "description": "An event generated when a container starts.",
                "properties": {
                    "actionId": {
                        "description": "The numeric ID of the action that started this container.",
                        "format": "int32",
                        "type": "integer"
                    },
                    "ipAddress": {
                        "description": "The public IP address that can be used to connect to the container. This\nfield is only populated when at least one port mapping is present. If the\ninstance was created with a private address, this field will be empty even\nif port mappings exist.",
                        "type": "string"
                    },
                    "portMappings": {
                        "additionalProperties": {
                            "format": "int32",
                            "type": "integer"
                        },
                        "description": "The container-to-host port mappings installed for this container. This\nset will contain any ports exposed using the `PUBLISH_EXPOSED_PORTS` flag\nas well as any specified in the `Action` definition.",
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "ContainerStoppedEvent": {
                "description": "An event generated when a container exits.",
                "properties": {
                    "actionId": {
                        "description": "The numeric ID of the action that started this container.",
                        "format": "int32",
                        "type": "integer"
                    },
                    "exitStatus": {
                        "description": "The exit status of the container.",
                        "format": "int32",
                        "type": "integer"
                    },
                    "stderr": {
                        "description": "The tail end of any content written to standard error by the container.\nIf the content emits large amounts of debugging noise or contains\nsensitive information, you can prevent the content from being printed by\nsetting the `DISABLE_STANDARD_ERROR_CAPTURE` flag.\n\nNote that only a small amount of the end of the stream is captured here.\nThe entire stream is stored in the `/google/logs` directory mounted into\neach action, and can be copied off the machine as described elsewhere.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "DelayedEvent": {
                "description": "An event generated whenever a resource limitation or transient error\ndelays execution of a pipeline that was otherwise ready to run.",
                "properties": {
                    "cause": {
                        "description": "A textual description of the cause of the delay. The string can change\nwithout notice because it is often generated by another service (such as\nCompute Engine).",
                        "type": "string"
                    },
                    "metrics": {
                        "description": "If the delay was caused by a resource shortage, this field lists the\nCompute Engine metrics that are preventing this operation from running\n(for example, `CPUS` or `INSTANCES`). If the particular metric is not\nknown, a single `UNKNOWN` metric will be present.",
                        "items": {
                            "type": "string"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "Empty": {
                "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
                "properties": {},
                "type": "object"
            },
            "Event": {
                "description": "Carries information about events that occur during pipeline execution.",
                "properties": {
                    "description": {
                        "description": "A human-readable description of the event. Note that these strings can\nchange at any time without notice. Any application logic must use the\ninformation in the `details` field.",
                        "type": "string"
                    },
                    "details": {
                        "additionalProperties": {
                            "description": "Properties of the object. Contains field @type with type URL."
                        },
                        "description": "Machine-readable details about the event.",
                        "type": "object"
                    },
                    "timestamp": {
                        "description": "The time at which the event occurred.",
                        "format": "google-datetime",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "FailedEvent": {
                "description": "An event generated when the execution of a pipeline has failed. Note\nthat other events can continue to occur after this event.",
                "properties": {
                    "cause": {
                        "description": "The human-readable description of the cause of the failure.",
                        "type": "string"
                    },
                    "code": {
                        "description": "The Google standard error code that best describes this failure.",
                        "enum": [
                            "OK",
                            "CANCELLED",
                            "UNKNOWN",
                            "INVALID_ARGUMENT",
                            "DEADLINE_EXCEEDED",
                            "NOT_FOUND",
                            "ALREADY_EXISTS",
                            "PERMISSION_DENIED",
                            "UNAUTHENTICATED",
                            "RESOURCE_EXHAUSTED",
                            "FAILED_PRECONDITION",
                            "ABORTED",
                            "OUT_OF_RANGE",
                            "UNIMPLEMENTED",
                            "INTERNAL",
                            "UNAVAILABLE",
                            "DATA_LOSS"
                        ],
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ImportReadGroupSetsResponse": {
                "description": "The read group set import response.",
                "properties": {
                    "readGroupSetIds": {
                        "description": "IDs of the read group sets that were created.",
                        "items": {
                            "type": "string"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "ImportVariantsResponse": {
                "description": "The variant data import response.",
                "properties": {
                    "callSetIds": {
                        "description": "IDs of the call sets created during the import.",
                        "items": {
                            "type": "string"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "ListOperationsResponse": {
                "description": "The response message for Operations.ListOperations.",
                "properties": {
                    "nextPageToken": {
                        "description": "The standard List next-page token.",
                        "type": "string"
                    },
                    "operations": {
                        "description": "A list of operations that matches the specified filter in the request.",
                        "items": {
                            "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
                            "properties": {
                                "done": {
                                    "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
                                    "type": "boolean"
                                },
                                "error": {
                                    "description": "The error result of the operation in case of failure or cancellation.",
                                    "properties": {
                                        "code": {
                                            "description": "The status code, which should be an enum value of google.rpc.Code.",
                                            "format": "int32",
                                            "type": "integer"
                                        },
                                        "details": {
                                            "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
                                            "items": {
                                                "additionalProperties": {
                                                    "description": "Properties of the object. Contains field @type with type URL."
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "message": {
                                            "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "metadata": {
                                    "additionalProperties": {
                                        "description": "Properties of the object. Contains field @type with type URL."
                                    },
                                    "description": "An OperationMetadata or Metadata object. This will always be returned with the Operation.",
                                    "type": "object"
                                },
                                "name": {
                                    "description": "The server-assigned name, which is only unique within the same service that originally returns it. For example&#58; `operations/CJHU7Oi_ChDrveSpBRjfuL-qzoWAgEw`",
                                    "type": "string"
                                },
                                "response": {
                                    "additionalProperties": {
                                        "description": "Properties of the object. Contains field @type with type URL."
                                    },
                                    "description": "If importing ReadGroupSets, an ImportReadGroupSetsResponse is returned. If importing Variants, an ImportVariantsResponse is returned. For pipelines and exports, an Empty response is returned.",
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "Operation": {
                "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
                "properties": {
                    "done": {
                        "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
                        "type": "boolean"
                    },
                    "error": {
                        "description": "The error result of the operation in case of failure or cancellation.",
                        "properties": {
                            "code": {
                                "description": "The status code, which should be an enum value of google.rpc.Code.",
                                "format": "int32",
                                "type": "integer"
                            },
                            "details": {
                                "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
                                "items": {
                                    "additionalProperties": {
                                        "description": "Properties of the object. Contains field @type with type URL."
                                    },
                                    "type": "object"
                                },
                                "type": "array"
                            },
                            "message": {
                                "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "metadata": {
                        "additionalProperties": {
                            "description": "Properties of the object. Contains field @type with type URL."
                        },
                        "description": "An OperationMetadata or Metadata object. This will always be returned with the Operation.",
                        "type": "object"
                    },
                    "name": {
                        "description": "The server-assigned name, which is only unique within the same service that originally returns it. For example&#58; `operations/CJHU7Oi_ChDrveSpBRjfuL-qzoWAgEw`",
                        "type": "string"
                    },
                    "response": {
                        "additionalProperties": {
                            "description": "Properties of the object. Contains field @type with type URL."
                        },
                        "description": "If importing ReadGroupSets, an ImportReadGroupSetsResponse is returned. If importing Variants, an ImportVariantsResponse is returned. For pipelines and exports, an Empty response is returned.",
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "OperationEvent": {
                "description": "An event that occurred during an Operation.",
                "properties": {
                    "description": {
                        "description": "Required description of event.",
                        "type": "string"
                    },
                    "endTime": {
                        "description": "Optional time of when event finished. An event can have a start time and no\nfinish time. If an event has a finish time, there must be a start time.",
                        "format": "google-datetime",
                        "type": "string"
                    },
                    "startTime": {
                        "description": "Optional time of when event started.",
                        "format": "google-datetime",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "OperationMetadata": {
                "description": "Metadata describing an Operation.",
                "properties": {
                    "clientId": {
                        "description": "This field is deprecated. Use `labels` instead. Optionally provided by the\ncaller when submitting the request that creates the operation.",
                        "type": "string"
                    },
                    "createTime": {
                        "description": "The time at which the job was submitted to the Genomics service.",
                        "format": "google-datetime",
                        "type": "string"
                    },
                    "endTime": {
                        "description": "The time at which the job stopped running.",
                        "format": "google-datetime",
                        "type": "string"
                    },
                    "events": {
                        "description": "Optional event messages that were generated during the job's execution.\nThis also contains any warnings that were generated during import\nor export.",
                        "items": {
                            "description": "An event that occurred during an Operation.",
                            "properties": {
                                "description": {
                                    "description": "Required description of event.",
                                    "type": "string"
                                },
                                "endTime": {
                                    "description": "Optional time of when event finished. An event can have a start time and no\nfinish time. If an event has a finish time, there must be a start time.",
                                    "format": "google-datetime",
                                    "type": "string"
                                },
                                "startTime": {
                                    "description": "Optional time of when event started.",
                                    "format": "google-datetime",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "labels": {
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Optionally provided by the caller when submitting the request that creates\nthe operation.",
                        "type": "object"
                    },
                    "projectId": {
                        "description": "The Google Cloud Project in which the job is scoped.",
                        "type": "string"
                    },
                    "request": {
                        "additionalProperties": {
                            "description": "Properties of the object. Contains field @type with type URL."
                        },
                        "description": "The original request that started the operation. Note that this will be in\ncurrent version of the API. If the operation was started with v1beta2 API\nand a GetOperation is performed on v1 API, a v1 request will be returned.",
                        "type": "object"
                    },
                    "runtimeMetadata": {
                        "additionalProperties": {
                            "description": "Properties of the object. Contains field @type with type URL."
                        },
                        "description": "Runtime metadata on this Operation.",
                        "type": "object"
                    },
                    "startTime": {
                        "description": "The time at which the job began to run.",
                        "format": "google-datetime",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "PullStartedEvent": {
                "description": "An event generated when the worker starts pulling an image.",
                "properties": {
                    "imageUri": {
                        "description": "The URI of the image that was pulled.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "PullStoppedEvent": {
                "description": "An event generated when the worker stops pulling an image.",
                "properties": {
                    "imageUri": {
                        "description": "The URI of the image that was pulled.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "RunPipelineResponse": {
                "description": "The response to the RunPipeline method, returned in the operation's result\nfield on success.",
                "properties": {},
                "type": "object"
            },
            "RuntimeMetadata": {
                "description": "Runtime metadata that will be populated in the\nruntimeMetadata\nfield of the Operation associated with a RunPipeline execution.",
                "properties": {
                    "computeEngine": {
                        "description": "Execution information specific to Google Compute Engine.",
                        "properties": {
                            "diskNames": {
                                "description": "The names of the disks that were created for this pipeline.",
                                "items": {
                                    "type": "string"
                                },
                                "type": "array"
                            },
                            "instanceName": {
                                "description": "The instance on which the operation is running.",
                                "type": "string"
                            },
                            "machineType": {
                                "description": "The machine type of the instance.",
                                "type": "string"
                            },
                            "zone": {
                                "description": "The availability zone in which the instance resides.",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "Status": {
                "description": "The `Status` type defines a logical error model that is suitable for\ndifferent programming environments, including REST APIs and RPC APIs. It is\nused by [gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error\nmessage, and error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.",
                "properties": {
                    "code": {
                        "description": "The status code, which should be an enum value of google.rpc.Code.",
                        "format": "int32",
                        "type": "integer"
                    },
                    "details": {
                        "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
                        "items": {
                            "additionalProperties": {
                                "description": "Properties of the object. Contains field @type with type URL."
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "message": {
                        "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "UnexpectedExitStatusEvent": {
                "description": "An event generated when the execution of a container results in a\nnon-zero exit status that was not otherwise ignored. Execution will\ncontinue, but only actions that are flagged as `ALWAYS_RUN` will be\nexecuted. Other actions will be skipped.",
                "properties": {
                    "actionId": {
                        "description": "The numeric ID of the action that started the container.",
                        "format": "int32",
                        "type": "integer"
                    },
                    "exitStatus": {
                        "description": "The exit status of the container.",
                        "format": "int32",
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "WorkerAssignedEvent": {
                "description": "An event generated after a worker VM has been assigned to run the\npipeline.",
                "properties": {
                    "instance": {
                        "description": "The worker's instance name.",
                        "type": "string"
                    },
                    "zone": {
                        "description": "The zone the worker is running in.",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "WorkerReleasedEvent": {
                "description": "An event generated when the worker VM that was assigned to the pipeline\nhas been released (deleted).",
                "properties": {
                    "instance": {
                        "description": "The worker's instance name.",
                        "type": "string"
                    },
                    "zone": {
                        "description": "The zone the worker was running in.",
                        "type": "string"
                    }
                },
                "type": "object"
            }
        },
        "parameters": {
            "access_token": {
                "description": "OAuth access token.",
                "in": "query",
                "name": "access_token",
                "schema": {
                    "type": "string"
                }
            },
            "alt": {
                "description": "Data format for response.",
                "in": "query",
                "name": "alt",
                "schema": {
                    "type": "string",
                    "enum": [
                        "json",
                        "media",
                        "proto"
                    ],
                    "default": "json"
                }
            },
            "callback": {
                "description": "JSONP",
                "in": "query",
                "name": "callback",
                "schema": {
                    "type": "string"
                }
            },
            "fields": {
                "description": "Selector specifying which fields to include in a partial response.",
                "in": "query",
                "name": "fields",
                "schema": {
                    "type": "string"
                }
            },
            "key": {
                "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                "in": "query",
                "name": "key",
                "schema": {
                    "type": "string"
                }
            },
            "oauth_token": {
                "description": "OAuth 2.0 token for the current user.",
                "in": "query",
                "name": "oauth_token",
                "schema": {
                    "type": "string"
                }
            },
            "prettyPrint": {
                "description": "Returns response with indentations and line breaks.",
                "in": "query",
                "name": "prettyPrint",
                "schema": {
                    "type": "boolean",
                    "default": true
                }
            },
            "quotaUser": {
                "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                "in": "query",
                "name": "quotaUser",
                "schema": {
                    "type": "string"
                }
            },
            "uploadType": {
                "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                "in": "query",
                "name": "uploadType",
                "schema": {
                    "type": "string"
                }
            },
            "upload_protocol": {
                "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                "in": "query",
                "name": "upload_protocol",
                "schema": {
                    "type": "string"
                }
            },
            "_.xgafv": {
                "description": "V1 error format.",
                "in": "query",
                "name": "$.xgafv",
                "schema": {
                    "type": "string",
                    "enum": [
                        "1",
                        "2"
                    ]
                }
            }
        },
        "securitySchemes": {
            "Oauth2": {
                "description": "Oauth 2.0 authentication",
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
                        "scopes": {
                            "https://www.googleapis.com/auth/cloud-platform": "View and manage your data across Google Cloud Platform services",
                            "https://www.googleapis.com/auth/genomics": "View and manage Genomics data"
                        },
                        "tokenUrl": "https://www.googleapis.com/oauth2/v4/token"
                    }
                }
            }
        }
    }
}